# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit testing / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.node_repl_history
.pytest_cache/
.history/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook template / checkpoints
.ipynb_checkpoints

# IPython
  .ipython/

# pyenv
#   For a library or package, you might want to ignore these files since the Python version is up to the user.
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in microservices or apps where exact pinning is required, you can leave it tracked.
# Pipfile.lock

# poetry
#   Poetry uses poetry.lock to ensure reproducible builds. Generally track this, but ignore if preferred.
# .poetry/lock

# pdm
#   PDM stores project-wide configurations here
.pdm-python.plugins/
.pdm-build/

# PEP 582 project packages
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat-pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype type checker
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm / JetBrains IDE (Optional but highly recommended)
.idea/

# VS Code IDE (Optional but highly recommended)
.vscode/

# Operating System files
.DS_Store
Thumbs.db
